**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/*.md
**/logs
**/.env
**/.env.*
**/secrets.json
**/.user
**/.suo
**/appsettings.Development.json
